name: Auto-merge Exercism app PRs

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: >
      github.event.pull_request.user.type == 'Bot' &&
      github.event.pull_request.user.login == 'exercism-solutions-syncer'

    steps:
      - name: Enable auto-merge
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
